parameters:
	level: 5
	errorFormat: raw

	paths:
		- src
	typeAliases:
		Alias_TestResultState: 'Tester\Runner\Test::Passed|Tester\Runner\Test::Skipped|Tester\Runner\Test::Failed|Tester\Runner\Test::Prepared'
