parameters:
	ignoreErrors:
		-
			message: '#^Argument of an invalid type stdClass supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 2
			path: src/CodeCoverage/Generators/CloverXMLGenerator.php

		-
			message: '#^Method Tester\\Assert\:\:exception\(\) should return \(T of Throwable\)\|null but returns Throwable\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Framework/Assert.php

		-
			message: '#^Closure invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/Framework/DataProvider.php

		-
			message: '#^Parameter \#2 \$file of static method Tester\\DataProvider\:\:parseAnnotation\(\) expects string, array\<string\>\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Framework/Environment.php

		-
			message: '#^Variable \$ref in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: src/Framework/Helpers.php

		-
			message: '#^Anonymous function has an unused use \$runner\.$#'
			identifier: closure.unusedUse
			count: 1
			path: src/Runner/CliTester.php

		-
			message: '#^Closure invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/Runner/CliTester.php

		-
			message: '#^While loop condition is always true\.$#'
			identifier: while.alwaysTrue
			count: 1
			path: src/Runner/CliTester.php

		-
			message: '#^Method Tester\\Runner\\CommandLine\:\:parse\(\) should return array\<string, mixed\> but returns array\<int\|string, mixed\>\.$#'
			identifier: return.type
			count: 1
			path: src/Runner/CommandLine.php

		-
			message: '#^Offset string\|true might not exist on array\<string, array\<string, mixed\>\>\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Runner/CommandLine.php

		-
			message: '#^Parameter \#3 \$length of function substr expects int\|null, int\<0, max\>\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Runner/PhpInterpreter.php

		-
			message: '#^Call to function method_exists\(\) with Tester\\Runner\\OutputHandler and ''jobStarted'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Runner/Runner.php

		-
			message: '#^Call to function method_exists\(\) with Tester\\Runner\\OutputHandler and ''tick'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Runner/Runner.php

		-
			message: '#^If condition is always false\.$#'
			identifier: if.alwaysFalse
			count: 1
			path: src/Runner/Runner.php

		-
			message: '#^Constant PHPDBG_VERSION not found\.$#'
			identifier: constant.notFound
			count: 1
			path: src/Runner/info.php
