name: Tests

on: [push, pull_request]

jobs:
    tests:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest, windows-latest, macOS-latest]
                php: ['8.0', '8.1', '8.2']

            fail-fast: false

        name: PHP ${{ matrix.php }} tests on ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v2
            - uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  extensions: simplexml
                  coverage: none

            - run: composer install --no-progress --prefer-dist
            - run: src/tester --info
              shell: bash
            - run: src/tester tests -s -C
              shell: bash
            - if: failure()
              uses: actions/upload-artifact@v2
              with:
                  name: output
                  path: tests/**/output


#    failing_test:
#        name: Failing test
#        runs-on: ubuntu-latest
#        steps:
#            - uses: actions/checkout@v2
#            - uses: shivammathur/setup-php@v1
#              with:
#                  php-version: 8.0
#                  coverage: none

#            - run: composer install --no-progress --prefer-dist
#            - run: src/tester -o none tests/fail.phptx


    code_coverage:
        name: Code Coverage
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: shivammathur/setup-php@v2
              with:
                  php-version: 8.0
                  extensions: simplexml
                  coverage: none

            - run: composer install --no-progress --prefer-dist
            - run: src/tester -p phpdbg tests -s -C --coverage ./coverage.xml --coverage-src ./src
            - run: wget https://github.com/php-coveralls/php-coveralls/releases/download/v2.4.3/php-coveralls.phar
            - env:
                  COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: php php-coveralls.phar --verbose --config tests/.coveralls.yml
